[submodule "public"]
	path = public
	url = https://github.com/dung-n-tran/dung-n-tran.github.io.git
[submodule "themes/hugo-black-and-light-theme"]
	path = themes/hugo-black-and-light-theme
	url = https://github.com/dung-n-tran/hugo-black-and-light-theme.git
